* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: #eff3f7;
  color: #555;
}

.main-section {
  position: relative;
}
.login {
  position: relative;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 400px;
  background-color: #eff3f700;
  box-shadow: 13px 13px 20px #929292, -13px -13px 20px #fff;
  border-radius: 20px;
  padding: 5% 2%;
}
.logo {
  position: relative;
  transform: translateY(-55px);
  background: url(./logo.png);
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
  box-shadow: 8px 8px 15px #a7aaaf, -8px -8px 15px, #fff;
}

.title {
  position: relative;
  top: -55px;
  padding-bottom: 20px;
  font-size: 1.25rem;
  letter-spacing: 2.5px;
  text-align: center;
}

.heading {
  position: relative;
  top: -55px;
  text-align: center;
  letter-spacing: 0.5px;
  font-size: 1.725rem;
}

.input {
  position: relative;
  top: -55px;
  width: 280px;
  padding-top: 5%;
  position: relative;
}

input[type="text"],
input[type="password"] {
  border: none;
  outline: none;
  width: 280px;
  height: 40px;
  border-radius: 15px;
  background: none;
  box-shadow: inset 5px 5px 10px #cbced1, inset -5px -5px 10px #fff;
  padding: 20px 10px 20px 5px;
}

input[type="text"] {
  margin-bottom: 20px;
}

.signin-btn,
.signin-btn:visited {
  position: relative;
  top: -55px;
  margin-top: 25px;
  padding: 20px auto;
  font-size: 16px;
  width: 60%;
  height: 40px;
  text-transform: uppercase;
  border-radius: 20px;
  background-color: none;
  outline: none;
  border: none;
  cursor: pointer;
  text-align: center;
  background-color: #40e0d0;
  box-shadow: 0 8px 12px hsla(0, 0%, 57%, 0.801);
}

.signin-btn:hover {
  transform: translateY(-4px);
  transition: 0.3s;
  box-shadow: 0 5px 8px hsla(0, 0%, 57%, 0.801);
}

.signin-btn:active {
  transition: 0.1s;
  transform: translateY(-0.5px);
}

.signup {
  position: absolute;
  bottom: -65px;
  left: 40px;
  font-size: 16px;
}

.signup p {
  color: rgba(117, 117, 117, 0.623);
}
.signup p a {
  text-decoration: none;
  color: #424242c5;
}

.signup p a:hover {
  color: #40e0d0;
}
